body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.author {
  position: relative;
}
.contact {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
nav {
  background-color: black !important;
}
.myBtn{
  width: 100%;
  background-color: black !important;
  transition: .35s ease-in-out;
}
.myBtn:hover {
  background-color: white !important;
  color: black !important;
}
.contacts {
  border: solid 1px black;
  margin: 1rem auto;
  width: 50%;

}
.contact-cta {
  margin: 5rem 0
}
.error-text {
  background-color: red;
  text-align: center;
  display: none;
}
.material-icons {
  cursor: pointer !important;
  
}
.new {
  margin: 0.9rem 2.5rem;
  cursor: pointer;
}
.date {
  border-bottom: solid 3px black;
}
.now {
  width: 100%;
  height: 3rem;
  z-index: 100 !important;
}
.appt {
  position: relative;
  margin: 5rem 0;
  width: 50% !important;
  margin: auto !important;
  display: block !important;
}
.bat {
  margin-bottom: 1.25rem !important
}
.appointments {
  width: 100%;
  border: solid 1px black;
  margin: 1rem 0;
  text-align: center;
}